.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.title {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.title h2 {
    margin: 0 0 0 10px;
    text-decoration: none;
}
