.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    flex-direction: column;
}

.footer span {
    margin-bottom: 8px;
}

.footer span:last-child {
    margin-bottom: 0;
}
